<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NYC Taxi Zones Map</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles/home.css')}}">
</head>
<body>
    <header>
        <h1>NYC Taxi Zones Map</h1>
    </header>



    <div id="map-container">
        <object id="svg-object" type="image/svg+xml" data="{{ url_for('static', filename='nyc_taxi_zones_grouped.svg') }}">
            Your browser does not support SVG
        </object>
    </div>

    <!-- <div id="right-pane">
        <h1>Zones</h1>
        <div id="right-container">
            <ul>
                {% for borough in bzones %}
                    <li>{{ borough.name}}
                        
                        <ul>
                            {% for z in borough.zones %}
                            <li>{{ z }}</li>
                            {% endfor %}
                        </ul>                    
                        
                    </li>
                {% endfor %}
            </ul>            
        </div>
    </div> -->

    <div id="forecasts">
        <h2>Estimat Fare Amount</h2>
        <div class="fare_amount">

            <!-- form -->
            <form id="fare-form">
                <label for="borough">Borough:</label>
                <select name="borough" id="borough">
                    <option value="Bronx">Bronx</option>
                    <option value="Brooklyn">Brooklyn</option>
                    <option value="Manhattan">Manhattan</option>
                    <option value="Queens">Queens</option>
                    <option value="Staten Island">Staten Island</option>
                </select>
                <label for="zone">Zone:</label>
                <select name="zone" id="zone">
                    <option value="All">All</option>
                    {% for borough in bzones %}
                        {% for z in borough.zones %}
                            <option value="{{ z }}">{{ z }}</option>
                        {% endfor %}
                    {% endfor %}
                </select>
                <br><label for="year">Year:</label>
                <select name="year" id="year">
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    
                </select>
                <label for="month">Month:</label>
                <select name="month" id="month">
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
                <button type="submit">Submit</button>

        </div>

        <!-- Output -->
        <div id="output">
            <h3>Estimated Fare Amount</h3>
            <p id="fare-amount"></p>


    </div>

    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{{ url_for('static', filename='../static/grouped.js') }}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const container = document.getElementById('map-container');
            const content = document.getElementById('svg-object');

            let zoom = 4;
            const ZOOM_SPEED = 0.4;
            let isDragging = true;
            let startX, startY, translateX = 0, translateY = 0;
    
            container.addEventListener('wheel', function(e) {
                e.preventDefault();
                let delta = e.deltaY > 0 ? -1 : 1;
                zoom += delta * ZOOM_SPEED;
                zoom = Math.min(Math.max(1, zoom), 3);  // Restrict zoom level between 1x and 3x
                updateTransform();
            });

            container.addEventListener('mousedown', function(e) {
                isDragging = true;
                startX = e.clientX - translateX;
                startY = e.clientY - translateY;
            });

            container.addEventListener('mousemove', function(e) {
                if (isDragging) {
                    translateX = e.clientX - startX;
                    translateY = e.clientY - startY;
                    updateTransform();
                }
            });

            container.addEventListener('mouseup', function() {
                isDragging = false;
            });

            container.addEventListener('mouseleave', function() {
                isDragging = false;
            });

            function updateTransform() {
                content.style.transform = `scale($${zoom}) translate($${translateX}px, ${translateY}px)`;
            }
        });
    </script>
</body>
</html>